@using XWingTO.Core
@model XWingTO.Web.ViewModels.Tournament.GenerateRoundViewModel

@{
	Layout = "_Layout";

	Game[] gamesArray = Model.Round.Games.OrderBy(g => g.TableNumber).ToArray();
}

<form asp-action="GenerateRound" method="POST">
	<input type="hidden" asp-for="Round.Id"/>
	<input type="hidden" asp-for="Round.RoundNumber"/>
	<input type="hidden" asp-for="Round.TournamentId"/>
	<div class="row">
		Round @Model.Round.RoundNumber
	</div>
	@for (int gameId = 0; gameId < Model.Round.Games.Count(); gameId++)
	{
		<div>
			<div class="row">
				@Html.Hidden($"Round.Games[{gameId}].Id",Model.Round.Games.ToList()[gameId].Id)
@*				@Html.HiddenFor(m => m.Round.Games.ToList()[gameId].Id, new {@name = $"Round.Games[{gameId}].Id"})
*@				@Html.HiddenFor(m => m.Round.Games.ToList()[gameId].TableNumber)
				@Html.HiddenFor(m => m.Round.Games.ToList()[gameId].TournamentRoundId)
				<div class="text-center">
					Table @Model.Round.Games.ToList()[gameId].TableNumber
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<!-- TODO Switch this for tag helpers version-->
@*					<select asp-for="Round.Games[@gameId].TournamentPlayer1Id" asp-items="Model.MakePlayerSelectList()" name="Round.Games[@gameId].TournamentPlayer1Id" id="Round.Games[@gameId].TournamentPlayer1Id"></select> *@
					@Html.DropDownListFor(m => Model.Round.Games.ToList()[gameId].TournamentPlayer1Id, Model.MakePlayerSelectList(), new {name = $"Round.Games[{gameId}].TournamentPlayer1Id"})
				</div>
				<div class="col-1">
					Vs
				</div>
				<div class="col-3">
					@*<select asp-for="Round.Games[@gameId].TournamentPlayer2Id" asp-items="Model.MakePlayerSelectList()" name="Round.Games[@gameId].TournamentPlayer2Id" id="Round.Games[@gameId].TournamentPlayer2Id"></select>*@
					@Html.DropDownListFor(m => Model.Round.Games.ToList()[gameId].TournamentPlayer2Id, Model.MakePlayerSelectList())
				</div>
			</div>
		</div>

	}
	<input type="submit" value="Generate Round" class="btn btn-primary"/>
</form>

