@using XWingTO.Core
@model XWingTO.Web.ViewModels.Tournament.GenerateRoundViewModel

@{
	Layout = "_Layout";

	Game[] gamesArray = Model.Round.Games.OrderBy(g => g.TableNumber).ToArray();
}

<form asp-action="GenerateRound" method="POST">
	<input type="hidden" asp-for="Round.Id"/>
	<input type="hidden" asp-for="Round.RoundNumber"/>
	<input type="hidden" asp-for="Round.TournamentId"/>
	<div class="row">
		Round @Model.Round.RoundNumber
	</div>
	@for (int gameId = 0; gameId < Model.Games.Count(); gameId++)
	{
		<div>
			<div class="row">
				@Html.Hidden($"Games[{gameId}].Id",Model.Games[gameId].Id)
				@Html.Hidden($"Games[{gameId}].TableNumber",Model.Games[gameId].TableNumber)
				@Html.Hidden($"Games[{gameId}].TournamentRoundId", Model.Games[gameId].TournamentRoundId)
				<div class="text-center">
					Table @Model.Games[gameId].TableNumber
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					@Html.DropDownListFor(m => m.Games[gameId].TournamentPlayer1Id, Model.PlayerSelectList, new { @name = $"Games[{gameId}].TournamentPlayer1Id"} )
				</div>
				<div class="col-1">
					Vs
				</div>
				<div class="col-3">
					@Html.DropDownListFor(m => m.Games[gameId].TournamentPlayer2Id, Model.PlayerSelectList, new { @name = $"Games[{gameId}].TournamentPlayer2Id"} )
				</div>
			</div>
		</div>

	}
	<input type="submit" value="Generate Round" class="btn btn-primary"/>
</form>

