@model XWingTO.Web.ViewModels.Tournament.ResultSubmissionViewModel

@{
	Layout = "_Layout";
}

@using (Html.BeginForm(FormMethod.Post))
{
	<input type="hidden" asp-for="GameId" />
	<input type="hidden" asp-for="TournamentId" />
	<div class="row">
		<div class="col-2">
			@Model.Player1Name
			<input type="hidden" asp-for="Player1Name" />
		</div>
		<div class="col-1">
			@Html.TextBoxFor(m => m.Player1MissionPoints, new { type = "number", min = "0", @class = "form-control"})
		</div>
		<div class="col-1">
			Conceded?
		</div>
		<div class ="col-1">
			@Html.CheckBoxFor(m => m.Player1Concede, new {@class = "form-check concedeCheckboxes"})
		</div>
		<div class="col-1">
			Drop?
		</div>
		<div class="col-1">
			@Html.CheckBoxFor(m => m.Player1Drop, new {@class = "form-check"})
		</div>
	</div>
	<hr/>
	<div class="text-center">
		Vs.
	</div>
	<hr/>
	<div class="row">
		<div class="col-2">
			@Model.Player2Name
			<input type="hidden" asp-for="Player2Name" />
		</div>
		<div class="col-1">
			@Html.TextBoxFor(m => m.Player2MissionPoints, new { type = "number", min = "0", @class = "form-control"})
		</div>
		<div class="col-1">
			Conceded?
		</div>
		<div class="col-1">
			@Html.CheckBoxFor(m => m.Player2Concede, new {@class = "form-check concedeCheckboxes"})
		</div>
		<div class="col-1">
			Drop?
		</div>
		<div class="col-1">
			@Html.CheckBoxFor(m => m.Player2Drop, new {@class = "form-check"})
		</div>
	</div>
	<hr/>
	<div class="row text-center">
		<div class="col-2">
			Number of Turns
		</div>
		<div class="col-1">
			@Html.TextBoxFor(m => m.Turns, new { type = "number", min="1" , max="12", @class="form-control"})
		</div>

	</div>
	

	<div class="row">
		<input type="submit" class="btn btn-success" value="Submit" />
		

	</div>
}
@section Scripts
{
	<script type="text/javascript" src="~/js/ResultSubmission.js" asp-append-version="true"></script>>
}
