@model XWingTO.Web.ViewModels.Tournament.ResultSubmissionViewModel

@{
	Layout = "_Layout";
}

@using (Html.BeginForm(FormMethod.Post))
{
	@Html.HiddenFor(m => m.GameId)
	@Html.HiddenFor(m => m.TournamentId)
	<div class="row">
		<div>
			@Model.Player1Name
		</div>
		<div>
			@Html.TextBoxFor(m => m.Player1MissionPoints)
		</div>
	</div>
	<div class="row">
		<div>
			@Model.Player2Name
		</div>
		<div>
			@Html.TextBoxFor(m => m.Player2MissionPoints)
		</div>
	</div>
	<div class="row">
		<div>Conceded?</div>
		<div>@Html.CheckBoxFor(m => m.Player1Concede)</div>
		<div>@Html.CheckBoxFor(m => m.Player2Concede)</div>
	</div>
	<div class="row">
		<div>Wish to drop?</div>
		<div>@Html.CheckBoxFor(m => m.Player1Drop)</div>
		<div>@Html.CheckBoxFor(m => m.Player2Drop)</div>
	</div>
	<div class="row">
		<div>
			Turns
		</div>
		<div>
			@Html.TextBoxFor(m => m.Turns)
		</div>
		<div>
			Out of Time
		</div>
		<div>
			@Html.CheckBoxFor(m => m.OutOfTime)
		</div>
	</div>
	<div class="row">
		<input type="submit" class="btn btn-success" value="Submit"/>
	</div>
}
