@using XWingTO.Core
@using XWingTO.Web.ViewModels
@model XWingTO.Web.ViewModels.Tournament.SearchViewModel

@{
	Layout = "_Layout";
}

<form asp-controller="Tournament" asp-action="Search">
	<div class="row">
		<div class="col-2">
			Name
		</div>
		<div class="col-5">
			<input asp-for="Name" />
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			Start Date
		</div>
		<div class="col-2">
			@if (Model.StartDate == new DateOnly(1,1,1))
			{
				<input asp-for="StartDate" type="date" value="@DateTime.Today.AddMonths(-1).ToString("yyyy-MM-dd")"/>
			}
			else
			{
				<input asp-for="StartDate" type="date" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
			}
		</div>
		<div class="col-2">
			End Date
		</div>
		<div class="col-2">
		@if (Model.EndDate == new DateOnly(1, 1, 1))
		{
			<input asp-for="EndDate" type="date" value="@DateTime.Today.AddMonths(1).ToString("yyyy-MM-dd")"/>
		}
		else
		{
			<input asp-for="EndDate" type="date" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
		}
		</div>
	</div>
	<div class="row">
		<input type="submit" class="btn btn-default" value="Search" />
	</div>
</form>
@if (Model.Tournaments != null && Model.Tournaments.Any())
{
	<div>
		@foreach (TournamentListDisplayModel tournament in Model.Tournaments.OrderBy(t => t.Date))
		{
			<div class="row">
				<a asp-controller="Tournament" asp-action="Display" asp-route-id="@tournament.Id">@tournament.Name</a>
			</div>
			<div class="row">
				<div>
					<i class="fa-solid fa-calendar-days"></i>&nbsp;@tournament.Date
					<i class="fa-solid fa-people-group"></i>&nbsp;@tournament.PlayerCount
					@if (tournament.Location != string.Empty)
					{
						<i class="fa-solid fa-globe"></i> @tournament.Location
					}
					<i class="fa-solid fa-crown"></i>&nbsp;@tournament.TOName
				</div>
			</div>
		}
	</div>
}